
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Start rev slider wrapper-->
<section class="rev_slider_wrapper">
    <div id="slider1" class="rev_slider" data-version="5.0">
        <ul>
            <li data-transition="slotzoom-horizontal">
                <img src="@Url.Content("~/Content/Site/images/slider/matbaa.jpg")" alt="" width="1920" height="700" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">

                <div class="tp-caption  tp-resizeme"
                     data-x="left" data-hoffset="15"
                     data-y="top" data-voffset="170"
                     data-transform_idle="o:1;"
                     data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                     data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-start="700">
                    <div class="slide-content-box">
                        <h1>We can increase your <br>brand awareness.</h1>
                        <p>
                            İşte buraya havalı bi cümle
                        </p>
                    </div>
                </div>
                <div class="tp-caption tp-resizeme"
                     data-x="left" data-hoffset="15"
                     data-y="top" data-voffset="410"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-start="2300">
                    <div class="slide-content-box">
                        <div class="button">
                            <a class="btn-style-five" href="about.html">About Us</a>
                        </div>
                    </div>
                </div>
                <div class="tp-caption tp-resizeme"
                     data-x="left" data-hoffset="195"
                     data-y="top" data-voffset="410"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-start="2600">
                    <div class="slide-content-box">
                        <div class="button">
                            <a class="btn-style-six" href="contact.html">contact us</a>
                        </div>
                    </div>
                </div>
            </li>
            <li data-transition="slotzoom-horizontal">
                <img src="@Url.Content("~/Content/Site/images/slider/matbaa2.jpg")" alt="" width="1920" height="700" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">

                <div class="tp-caption  tp-resizeme"
                     data-x="left" data-hoffset="15"
                     data-y="top" data-voffset="170"
                     data-transform_idle="o:1;"
                     data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                     data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-start="700">
                    <div class="slide-content-box">
                        <h1>We can increase your  (farklı haliyle)<br>brand awareness.</h1>
                        <p>
                            bi cümlede buraya
                        </p>
                    </div>
                </div>
                <div class="tp-caption tp-resizeme"
                     data-x="left" data-hoffset="15"
                     data-y="top" data-voffset="410"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-start="2300">
                    <div class="slide-content-box">
                        <div class="button">
                            <a class="btn-style-five" href="about.html">About Us</a>
                        </div>
                    </div>
                </div>
                <div class="tp-caption tp-resizeme"
                     data-x="left" data-hoffset="195"
                     data-y="top" data-voffset="410"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                     data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     data-start="2600">
                    <div class="slide-content-box">
                        <div class="button">
                            <a class="btn-style-six" href="contact.html">contact us</a>
                        </div>
                    </div>
                </div>
            </li>

</section>
<!--End rev slider wrapper-->
<!--Call to Action-->
<section class="call-to-action bg-1 padd-1">
    <div class="container">
        <div class="row clearfix">
            <!--Icon Column-->
            <div class="column icon-column col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="icon"><span class="flaticon-technology"></span></div>
                    <h3>Call me  +01 123 456 789</h3>
                    <div class="text" style="color:black">Sanat Caddesi Çamdibi İş Merkezi B Blok No:1/G, 35090 Bornova/İzmir</div>
                </div>
            </div>
            <!--Icon Column-->
            <div class="column icon-column col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="icon"><span class="flaticon-circular-clock-tool"></span></div>
                    <h3>Opening Hours</h3>
                    <div class="text">Mon- Sat 5:00 AM - 12:00 PM / Sundays closed</div>
                </div>
            </div>

            <!--Link Column-->
            <div class="column link-column col-md-4 col-sm-6 col-xs-12">
                <div class="link-btn5">
                    <a href="contact.html" class="btn-style-two">Contact us</a>
                </div>
            </div>

        </div>
    </div>
</section>

<!--Services Two-->
<section class="services-two bg-1 padd-3">
    <div class="container">
        <div class="row clearfix">

            <!--Default Service Block-->
            <div class="default-service-block active col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="icon"><span class="flaticon-graphic-3"></span></div>
                    <h3><a>Business Growth</a></h3>
                    <div class="text">We have been the solution partner of 3000 companies since the day we were founded and this number is increasing day by day.</div>


                </div>
            </div>


            <!--Default Service Block / Active-->
            <div class="default-service-block active col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box wow zoomIn" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="icon"><span class="flaticon-people"></span></div>
                    <h3><a>Expert Staff, Experienced Team</a></h3>
                    <div class="text">We produce fast and practical solutions with our 20 graphic designers. We produce error-free work in the prepress preparation process with our 5 assembly personnel and 2 CTP personnel for color separation.</div>

                </div>
            </div>

            <!--Default Service Block-->
            <div class="default-service-block active col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="icon"><span class="flaticon-layers"></span></div>
                    <h3><a>Business Strategy</a></h3>
                    <div class="text">In the coming years, it will be the leader of the market in the printing industry and increase the quality to the highest level. Taking strength from our past, reading the spirit of time, turning the changes into opportunities, is to move our solutions to the better together.</div>

                </div>
            </div>

        </div>
    </div>
</section>

<!--About Style One-->
<section class="about-style-one">
    <div class="outer-box clearfix">

        <!--Content Column-->
        <div class="content-column clearfix">
            <div class="content-box">
                <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <!--Section Title-->
                    <div class="sec-title">
                        <h2>About <span>Alis</span></h2>
                    </div>
                    <div class="text">
                        As Alis Matbaacılık Ofset, we are the solution partner of more than 1000 active companies from various sectors in İzmir, with our Founder Avni Alançay's 43 years of experience in the printing industry, although it was established for a short time. For the purpose of printing official printed documents (Invoice, Waybill etc.). In this way, we have increased our product range in order to meet all the needs of our customers regarding printing. We have an innovative structure in line with the developing technology and customer demands, and we continue to renew without sacrificing quality.
                    </div>
                    <div class="link-btn"><a href="about.html" class="btn-style-two">Learn More <span class="fa fa-long-arrow-right"></span></a></div>
                </div>
            </div>
        </div>

        <!--Image Column-->
        <div class="image-column" style="background-image: url(/Content/Site/images/slider/matbaa.jpg);"><div class="image"><img src="@Url.Content("~/Content/Site/images/slider/matbaa.jpg")" alt=""></div><a href="https://www.youtube.com/watch?v=mTY3EzN_yMU&ab_channel=HDTan%C4%B1t%C4%B1mFilmi" class="overlay-link video-fancybox"><span class="icon fa fa-play"></span></a></div>

    </div>
</section>

<div class="container-fluid">
    <div class="row clearfix">
        <h2 style="margin: 0px auto; padding: 60px 0px; background-color: #f7f7f7; text-align: center;">You can increase brand awareness</h2>
    </div>
</div>


<!--End Purchase Box-->
<!-- BURADAAA KALDIĞINI UNUTMA -->
