
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>


</head>
<body>

    <div class="boxed_wrapper">

        <header class="top-bar">
        </header>

        <div class="inner-banner has-base-color-overlay text-center" style=" background-image: url('../../content/site/images/background/heidelberg_.jpg');">
            <!--DÜZENLE-->
            <div class="container">
                <div class="box">
                    <h3>CONTACT US</h3>
                </div>
            </div>
        </div>
        <section class="wow animate__fadeIn big-section" id="section-down" style="visibility: visible; animation-name: fadeIn;">
            <div class="container" style="padding:50px">
                <div class="row row-cols-1 row-cols-lg-2">
                    <!--DÜZENLE-->
                    <div class="col sm-margin-30px-bottom wow animate__fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                        <div class="bg-light-gray border-radius-6 h-100 p-lg-5 p-4" style="padding:50px">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3125.586740644335!2d27.17878001533658!3d38.4279142796459!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b97d208a99fd4d%3A0x4c826deb1aba885b!2sAlis%20Matbaa!5e0!3m2!1str!2str!4v1669774202825!5m2!1str!2str" width="100%" height="550" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            <h6 class="text-extra-dark-gray my-3" style="padding:20px">Alis Printery </h6>
                            <span class="d-block"><i class="fas fa-map-marker-alt me-1"></i>Sanat Caddesi Çamdibi İş Merkezi B Blok No:1/G, 35090 Bornova/İzmir</span><br />
                            <span class="d-block"><i class="fas fa-phone-alt me-1"></i>+90 0(232) 458 20 24</span> <br />
                            <span class="d-block"><i class="far fa-envelope me-1"></i>info@alismatbaa.com.tr</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
