

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>

    <style>
        element.style {
            visibility: visible;
            animation-name: fadeIn;
            margin-top: 144px;
        }

        .padding-35px-tb {
            padding-top: 35px;
            padding-bottom: 35px;
        }

        .bg-extra-dark-gray {
            background-color: #1c1c1c;
        }

       

        .image-table {
            border: 0px solid rgba(0, 0, 0, 0);
            border-collapse: separate;
            border-spacing: 6px;
            table-layout: fixed;
            text-align: center;
            width: 100%;
        }

            .image-table img {
                border: 10px solid #fff;
                box-sizing: border-box;
                -webkit-box-shadow: 0 0 10px #999;
                box-shadow: 0 0 10px #999;
            }
    </style>


</head>
<body>

    <div class="inner-banner has-base-color-overlay text-center" style=" background-image: url('../../content/site/images/background/banner.jpg'); ">
        <div class="container">
            <div class="box">
                <h3>PRODUCT / CALENDER</h3>
            </div>
        </div>
    </div>




    <!-- buradan -->
    <div class="container" style="padding-top:60px; padding-bottom: 60px;">
        <table class="image-table">
            <tbody>
                <tr>
                    <td>
                        <img src="~/Content/Site/images/Product/Calender/2021-0003-P-UcgenTakvim.jpg" style="position: initial; height: auto; max-width: 100%; ">


                    </td>
                    <td>
                        <img src="~/Content/Site/images/Product/Calender/2021-0006-P-KaideliTakvim.jpg" style="position: center; height: auto; max-width: 100%;">
                    </td>
                    <td>
                        <img src="~/Content/Site/images/Product/Calender/2021-0008-P-DuvarTakvimi.jpg" style="position: revert; height: auto; max-width: 100%;">
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</body>
</html>
