

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>

    <style>
        element.style {
            visibility: visible;
            animation-name: fadeIn;
            margin-top: 144px;
        }

        .padding-35px-tb {
            padding-top: 35px;
            padding-bottom: 35px;
        }

        .bg-extra-dark-gray {
            background-color: #1c1c1c;
        }
    </style>


</head>
<body>

    <div class="container-fluid" style="visibility: visible; animation-name: fadeIn; margin-top: 0px; background-color: black; padding: 90px 0; padding-top: 35px; padding-bottom: 35px;">
        <h1 class="alt-font text-white-2 font-weight-600 mb-0 text-uppercase">PRODUCT / CALENDER</h1>
    </div>

    <section class="wow animate__fadeIn" style="visibility: visible; animation-name: fadeIn; padding : 100px">
        <div class="container">
            <div class="row">
                <div class="col-12 filter-content overflow-hidden">
                    <ul class="hover-option4 lightbox-gallery portfolio-wrapper grid grid-6col xl-grid-3col lg-grid-3col md-grid-2col sm-grid-2col xs-grid-1col gutter-small" style="position: relative; height: 850px;">
                        <li class="grid-sizer"></li>
                        <li class="grid-item wow animate__fadeInUp" style="position: absolute; left: 10%; top: 0px; animation: 0s ease 0s 1 normal none running none;">
                            <a data-group="lightbox-gallery">
                                <figure>
                                    <!--DÜZENLE-->
                                    <img src="~/Content/Site/images/Product/Calender/2021-0003-P-UcgenTakvim.jpg" style="max-width: 50%; display: inline-block;" alt="" class="project-img-gallery" data-no-retina="">
                                </figure>
                            </a>
                        </li>
                        <li class="grid-item wow animate__fadeInUp" style="position: absolute; left: 50%; top: 0px; animation: 0s ease 0s 1 normal none running none;">
                            <a data-group="lightbox-gallery">
                                <figure>
                                    <!--DÜZENLE-->
                                    <img src="~/Content/Site/images/Product/Calender/2021-0008-P-DuvarTakvimi.jpg" style="max-width: 60%; display: inline-block;" alt="" class="project-img-gallery" data-no-retina="">
                                </figure>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            <h6 class="text-extra-dark-gray text-center m-bold">CALENDER</h6>
        </div>
    </section>
</body>
</html>
