
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .margin-seven-bottom {
            margin-bottom: 7%;
        }

        .margin-eight-top {
            margin-top: 8%;
        }

        .divider-full {
            width: 100%;
            height: 1px;
            display: inline-block;
        }

        .bg-extra-light-gray {
            background-color: #e0e0e0;
        }
    </style>
</head>
<body>
    <div class="boxed_wrapper">
        <div class="inner-banner has-base-color-overlay text-center" style=" background-image: url('../../content/site/images/background/banner.jpg'); ">
            <div class="container">
                <div class="box">
                    <h3>PRODUCTION</h3>
                </div>
            </div>
        </div>

    </div>
    <div class="container">
        <div class="row align-items-center" style="padding:20px">
            <div class="col-12 col-lg-5 col-md-6 text-center md-margin-30px-bottom wow animate__fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">

                <img src="~/Content/Site/images/background/prepress.jpg" style="padding:40px; max-width: 90%; display: inline-block;" alt="" class="border-radius-6 w-100" data-no-retina="">
            </div>
            <div class="col-12 col-lg-7 col-md-6 text-center text-md-start padding-eight-lr lg-padding-six-lr md-padding-15px-lr wow animate__fadeInRight" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInRight;">
                <h6 class="alt-font text-extra-dark-gray m-bold" style="font-size:larger; padding:20px;">PREPRESS</h6>
                <p class="mb-0">When you think of prepress, graphic design comes to mind. The graphic design of the works done in Alis printing house constitutes a large part of the work.<br /> So most of the features of the job come out while designing. For this reason, our graphic designers are in constant communication with the customer in order not to send faulty patterns. The job is not sent to the mold and does not go into print without the approval of the customer.<br /> For us, customer satisfaction starts with graphic design. Another point we pay attention to is that we keep our archive complete so that previously printed works are not lost or misprinted.</p>
            </div>
        </div>
        <div class="divider-full bg-extra-light-gray margin-seven-bottom margin-eight-top"></div>
        <div class="row align-items-center">
            <div class="col-12 col-lg-7 col-md-6 text-center text-md-start padding-eight-lr lg-padding-six-lr md-padding-15px-lr ps-3 wow animate__fadeInRight" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInRight;">
                <h6 class="alt-font text-extra-dark-gray m-bold" style="font-size:larger;">PRINTING</h6>
                <p class="mb-3">After the designed works are sent to the mold, the mold is placed in the printing machine.<br /> Dyes are added according to the colors of the work and a print is made according to the dimensions with our expert staff.</p>
            </div>
            <div class="col-12 col-lg-5 col-md-6 text-center md-margin-30px-bottom wow animate__fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">

                <img src="~/Content/Site/images/background/printing.jpg" style=" max-width: 80%; display: inline-block;" alt="" class="border-radius-6 w-100" data-no-retina="">
            </div>
        </div>
        <div class="divider-full bg-extra-light-gray margin-seven-bottom margin-eight-top"></div>
        <div class="row align-items-center" style="padding:50px">
            <div class="col-12 col-lg-5 col-md-6 text-center md-margin-30px-bottom wow animate__fadeInLeft" style="visibility: hidden; animation-name: fadeInLefts;">

                <img src="~/Content/Site/images/background/paketleme.jpg" style=" max-width: 80%; display: inline-block;" alt="" class="border-radius-6 w-100" data-no-retina="">
            </div>
            <div class="col-12 col-lg-7 col-md-6 text-center text-md-start padding-eight-lr lg-padding-six-lr md-padding-15px-lr wow animate__fadeInRight" data-wow-delay="0.2s" style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">
                <h6 class="alt-font text-extra-dark-gray m-bold" style="font-size:larger;">POST PRESS</h6>
                <p class="mb-3">After printing, large-size papers are cut according to their size in the cutting machine and packaged. <br /> Our staff is on their way to deliver your order to you.</p>
            </div>
        </div>
    </div>


</body>
</html>
