

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>

    <style>
        element.style {
            visibility: visible;
            animation-name: fadeIn;
            margin-top: 144px;
        }

        .padding-35px-tb {
            padding-top: 35px;
            padding-bottom: 35px;
        }

        .bg-extra-dark-gray {
            background-color: #1c1c1c;
        }

        img {
            height: auto;
            max-width: 100%;
        }

        .image-table {
            border: 0px solid rgba(0, 0, 0, 0);
            border-collapse: separate;
            border-spacing: 6px;
            table-layout: fixed;
            text-align: center;
            width: 100%;
        }

            .image-table img {
                border: 10px solid #fff;
                box-sizing: border-box;
                -webkit-box-shadow: 0 0 10px #999;
                box-shadow: 0 0 10px #999;
            }
    </style>


</head>
<body>

    <div class="container-fluid" style="visibility: visible; animation-name: fadeIn; margin-top: 0px; background-color: black; padding: 90px 0; padding-top: 35px; padding-bottom: 35px;">
        <h1 class="alt-font text-white-2 font-weight-600 mb-0 text-uppercase">PRODUCT / CARDOARD BAG</h1>
    </div>

    <div class="container" style="padding-top:60px; padding-bottom: 60px;">
        <table class="image-table">
            <tbody>
                <tr>
                    <td>
                        <img src="~/Content/Site/images/Product/CardboardBag/2021-0009-P-KraftCanta.jpg" style="position:initial">


                    </td>
                    <td>
                        <img src="~/Content/Site/images/Product/CardboardBag/KartonCanta.jpg" style="position:center;">
                    </td>
                    <td>
                        <img src="~/Content/Site/images/Product/CardboardBag/KartonCanta.jpg" style="position:revert">
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</body>
</html>